* {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
#root {
    -fx-background-color: rgb(50, 50, 50);
}

.text-field {
    -fx-border-color: white;
}

.label {
    -fx-min-height: 40;
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.button {
    -fx-border-color: white;
    -fx-cursor: hand;
}

.highlight {
    -fx-border-color: white;
}

#deviceList {
    -fx-border-color: white;
    -fx-padding: 5 0;
}